# Airflow 기본 종속성
apache-airflow[celery,postgres,redis,crypto,api,async]==2.8.1

# 문법
pylint==3.3.1
pydantic==2.9.2
colorama~=0.4.6

xmltodict~=0.14.2
fastparquet
pandas~=2.2.3
pyarrow
aiohttp~=3.10.11
uvloop~=0.21.0